<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GSTCloud.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>loadBlockGroups</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LoadBlockGroupGeometryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadBlockGroups</servlet-name>
    <url-pattern>/loadBlockGroups</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>readStaticIndex</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.ReadStaticIndexServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>readStaticIndex</servlet-name>
    <url-pattern>/readStaticIndex</url-pattern>
    <load-on-startup/>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>strTreeTest</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.STRTreeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>strTreeTest</servlet-name>
    <url-pattern>/strTreeTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>helloWorld</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.GisCloudServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gstcloud/greet</url-pattern>
    <load-on-startup>10</load-on-startup>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loadServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LandmarksServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>loadServlet</servlet-name>
    <url-pattern>/gstcloud/load</url-pattern>
  </servlet-mapping>
 
  <servlet>
  <servlet-name>loadLocalServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.SpatialBodiesServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadLocalServlet</servlet-name>
    <url-pattern>/gstcloud/loadLocal</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>loadLayerServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LayerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadLayerServlet</servlet-name>
    <url-pattern>/gstcloud/loadLayer</url-pattern>
  </servlet-mapping>
     
      <servlet>
  <servlet-name>TableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LandmarksTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableModelServlet</servlet-name>
    <url-pattern>/gstcloud/TableModel</url-pattern>
  </servlet-mapping>
     
     <servlet>
		<servlet-name>FileUpServlet</servlet-name>
		<servlet-class>com.rmsi.lim.gstcloud.server.servlets.FileUp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUpServlet</servlet-name>
		<url-pattern>/gstcloud/FileUp</url-pattern>
	</servlet-mapping>
     
     <servlet>
        <servlet-name>DataNucleus</servlet-name>
        <servlet-class>org.datanucleus.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>persistence-context</param-name>
            <param-value>transactions-optional</param-value>
        </init-param>	     
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DataNucleus</servlet-name>
        <url-pattern>/dn/*</url-pattern>
    </servlet-mapping>
    
    
  
    
    
</web-app>
