<?xml version="1.0" encoding="UTF-8"?>


<web-app>

  <!-- Default page to serve -->
  
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>loadBlockGroups</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LoadBlockGroupGeometryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadBlockGroups</servlet-name>
    <url-pattern>/loadBlockGroups</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>readStaticIndex</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.ReadStaticIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readStaticIndex</servlet-name>
    <url-pattern>/readStaticIndex</url-pattern>
    <load-on-startup/>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>strTreeTest</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.STRTreeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>strTreeTest</servlet-name>
    <url-pattern>/strTreeTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>helloWorld</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.GisCloudServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gstcloud/greet</url-pattern>
    <load-on-startup>10</load-on-startup>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>landmarksServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LandmarkServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>landmarksServlet</servlet-name>
    <url-pattern>/gstcloud/landmarks</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>newlayerServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.NLRServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>newlayerServlet</servlet-name>
    <url-pattern>/gstcloud/NLR</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>towerServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.TowerServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>towerServlet</servlet-name>
    <url-pattern>/gstcloud/tower</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>wardBoundaryServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.WardBoundariesServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>wardBoundaryServlet</servlet-name>
    <url-pattern>/gstcloud/wardBoundary</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>complaintServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.ComplaintsServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>complaintServlet</servlet-name>
    <url-pattern>/gstcloud/complaint</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dataStoreServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.DatastoreServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>dataStoreServlet</servlet-name>
    <url-pattern>/gstcloud/dataStore</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
    <servlet-name>CSCServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.CSCServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CSCServlet</servlet-name>
    <url-pattern>/gstcloud/CSC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>retailerServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.RetailerServiceImpl</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>retailerServlet</servlet-name>
    <url-pattern>/gstcloud/retailer</url-pattern>
  </servlet-mapping>
 
  <servlet>
  <servlet-name>loadLocalServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.SpatialBodiesServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadLocalServlet</servlet-name>
    <url-pattern>/gstcloud/loadLocal</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>loadLayerServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LayerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadLayerServlet</servlet-name>
    <url-pattern>/gstcloud/loadLayer</url-pattern>
  </servlet-mapping>
     
     
  <servlet>
  <servlet-name>tableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.TableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tableModelServlet</servlet-name>
    <url-pattern>/gstcloud/tableModel</url-pattern>
  </servlet-mapping>  
     
     
  <servlet>
  <servlet-name>LandMarksTableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.LandmarksTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandMarksTableModelServlet</servlet-name>
    <url-pattern>/gstcloud/LandMarksTableModel</url-pattern>
  </servlet-mapping>
     
  <servlet>
  <servlet-name>TowerTableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.TowerTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TowerTableModelServlet</servlet-name>
    <url-pattern>/gstcloud/TowerTableModel</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>WardBoundariesTableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.WardBoundariesTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardBoundariesTableModelServlet</servlet-name>
    <url-pattern>/gstcloud/wardBoundaryTableModel</url-pattern>
  </servlet-mapping>
     
  <servlet>
  <servlet-name>CSCTableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.CSCTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSCTableModelServlet</servlet-name>
    <url-pattern>/gstcloud/CSCTableModel</url-pattern>
  </servlet-mapping>
     
  <servlet>
  <servlet-name>RetailerTableModelServlet</servlet-name>
    <servlet-class>com.rmsi.lim.gstcloud.server.servlets.RetailerTableModelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerTableModelServlet</servlet-name>
    <url-pattern>/gstcloud/RetailerTableModel</url-pattern>
  </servlet-mapping>
     
     
     <servlet>
		<servlet-name>FileUpServlet</servlet-name>
		<servlet-class>com.rmsi.lim.gstcloud.server.servlets.FileUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUpServlet</servlet-name>
		<url-pattern>/gstcloud/FileUp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PolygonServlet</servlet-name>
		<servlet-class>com.rmsi.lim.gstcloud.server.servlets.PolygonServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PolygonServlet</servlet-name>
		<url-pattern>/gstcloud/POL</url-pattern>
	</servlet-mapping>
     
     <servlet>
        <servlet-name>DataNucleus</servlet-name>
        <servlet-class>org.datanucleus.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>persistence-context</param-name>
            <param-value>transactions-optional</param-value>
        </init-param>	     
    </servlet>
    <servlet-mapping>
        <servlet-name>DataNucleus</servlet-name>
        <url-pattern>/dn/*</url-pattern>
    </servlet-mapping>                       
    
    
  
    
    
</web-app>
